.container {
    padding: 2rem;
    width: 40%;
    margin: 3rem auto auto auto;

    h1 {
        font-size: 1.7rem;
        font-family: serif;
    }
    
    h2 {
        font-size: 1.1rem;
        font-family: serif;
        display: inline-block;
        border: 1px solid;
        border-radius: 30px 30px 30px 30px;
        padding: 0.3rem;
        margin-right: 0.3rem;
        cursor: default;
        background-color: #39485c;
        color: #ebc745;
    }

    .fileName_constainer {
        &[data-hidden="hidden"] {
            visibility: hidden;
        }

        .fileName {
            font-size: .7rem;
        }

        .delete_btn {
            background-image: url('../public/remove.png');
            width: 20px;
            height: 20px;
            float: right;
            background-repeat: round;
            margin-top: 3px;
            cursor: pointer;
        }
    }

    .downloadFile {
        display: flex;
        flex-direction: row;
        margin: 2rem 0;

        .old, .new {
            flex-direction: column;
            border: 1px dashed;
            padding: 1rem;
            font-size: .7rem;

            .header_download {
                border-bottom: 1px dashed;
                width: 100%;
                display: block;
                margin-bottom: 0.5rem;
                padding-bottom: 0.5rem;
                font-size: 1rem;
                font-weight: 700;
            }

            .type {
                padding-bottom: 0.5rem;
                margin-bottom: 0.5rem;
                border-bottom: 1px dashed;
            }

            > div {
                position: relative;

                &:last-child {
                    > span {
                        border-bottom: 0;
                        margin-bottom: 0;
                        padding-bottom: 0;
                    }
                }

                > span {
                    display: block;

                    &.ind_download_btn {
                        background-image: url('../public/download.png');
                        height: 20px;
                        width: 20px;
                        position: absolute;
                        right: 0;
                        top: 5px;
                        background-repeat: round;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .download_btn {
        margin-top: 1rem;
        cursor: pointer;
        background-color: #e8c647;
        color: #000000;
    }

    .label_style {
        display: flex;
        width: 100%;
        height: 10rem;
        border: 1px solid #000;
        background-color: #7a7a7a;
        cursor: pointer;
        justify-content: center;
        align-items: center;
    }

    .label_style:hover {
        background-color: #bdbdbd;
    }

    .upload_style {
        display: none;
    }

    .btns_container {
        display: flex;

        .convert_btn {
            display: block;
            margin: 2rem auto;
            background-color: #e8c647;
            color: #000000;
            width: 12rem;
            height: 3rem;
            cursor: pointer;

            &[data-disabled="disabled"] {
                background-color: gray;
                border: none;
                pointer-events: none;
            }

            &[data-hidden="hidden"] {
                display: none;
            }
        }
    }

    .Collapsible {
        background-color: #7a7a7a;
        margin-top: 3px;

        .Collapsible__trigger {
            display: block;
            font-weight: 400;
            text-decoration: none;
            position: relative;
            padding: 10px;
            background: #b1afaf;
            color: #000;

            &:after {
                content: '\21E3';
                position: absolute;
                right: 10px;
                top: 7px;
                display: block;
                transition: transform 300ms;
                font-size: 1.2rem;
            }

            &.is-open:after {
                transform: rotateZ(180deg);
            }

            &.is-disabled {
                opacity: 0.5;
                background-color: grey;
            }
        }

        .Collapsible__contentInner {
            padding: 10px;
            border: 1px solid #fff;
            border-top: 0;

            p {
                margin-bottom: 10px;
                font-size: 14px;
                line-height: 20px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .additional_settings {
                .option_container {
                    label {
                        width: 8rem;
                    }

                    input[type='number'] {
                        width: 6rem;
                    }

                    .scaleSizeContainer {
                        display: block;
                    }
                }
            }
        }
    }
}

